<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>{% if title %}{{ title }} | {% endif %}{{ bio.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="/media/css/core.css">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="shortcut icon" href="/media/img/favicon.ico">
    <meta name="description" value="Andrew Hayward - lead accessibility engineer at Twitter">
  </head>
  {{ content | safe }}
</html>
