---
layout: base
---
<body class="home">
  <div id="splash">
    <div class="constrained">
      <h1>{{ bio.name }}</h1>
    </div>
  </div>
  <header id="header">
    <div class="constrained">
      <div id="title" class="title" aria-hidden="true">{{ bio.name }}</div>
      {% include "navigation.njk" %}
    </div>
  </header>
  <div id="content">
    <main id="main">
      <div class="constrained">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor consequat id porta nibh venenatis.{#  Non sodales neque sodales ut etiam. Convallis convallis tellus id interdum velit laoreet id. Mattis aliquam faucibus purus in massa. Pharetra convallis posuere morbi leo urna molestie at. Enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Sit amet justo donec enim diam vulputate ut pharetra sit. At auctor urna nunc id cursus metus aliquam eleifend. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Id donec ultrices tincidunt arcu non sodales. Consequat ac felis donec et odio pellentesque diam volutpat commodo. Viverra aliquet eget sit amet tellus cras.</p>

        <p>Vivamus arcu felis bibendum ut. Mattis rhoncus urna neque viverra justo nec ultrices dui. Sed euismod nisi porta lorem mollis aliquam ut porttitor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Tortor pretium viverra suspendisse potenti nullam. Leo vel fringilla est ullamcorper eget nulla facilisi. Vitae suscipit tellus mauris a diam maecenas sed enim. Ullamcorper a lacus vestibulum sed. Ut faucibus pulvinar elementum integer. Enim ut tellus elementum sagittis vitae et leo duis. Arcu vitae elementum curabitur vitae nunc. Morbi tristique senectus et netus et malesuada fames ac. Etiam dignissim diam quis enim.</p>

        <p>Quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Vitae justo eget magna fermentum iaculis eu non. Purus in massa tempor nec feugiat nisl pretium fusce id. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Enim nunc faucibus a pellentesque sit amet. Neque sodales ut etiam sit amet nisl purus in. Ultricies leo integer malesuada nunc vel risus commodo. Blandit aliquam etiam erat velit. Mattis nunc sed blandit libero volutpat sed. Donec ac odio tempor orci dapibus ultrices in iaculis. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum a.</p>

        <p>Diam donec adipiscing tristique risus nec feugiat in. Ut tellus elementum sagittis vitae et. Est ante in nibh mauris cursus mattis molestie. Amet facilisis magna etiam tempor orci eu lobortis elementum. Bibendum enim facilisis gravida neque convallis. Vestibulum sed arcu non odio. Et pharetra pharetra massa massa ultricies mi quis hendrerit. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis. Mauris vitae ultricies leo integer malesuada nunc vel risus commodo. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Accumsan in nisl nisi scelerisque eu ultrices vitae. Lacinia at quis risus sed vulputate odio ut enim blandit. Volutpat diam ut venenatis tellus in. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Diam sollicitudin tempor id eu. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque.</p>

        <p>Nullam ac tortor vitae purus. Sit amet justo donec enim diam vulputate. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Vulputate sapien nec sagittis aliquam malesuada bibendum. Volutpat maecenas volutpat blandit aliquam etiam erat velit. Praesent elementum facilisis leo vel fringilla. Turpis massa sed elementum tempus egestas sed sed risus pretium. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Euismod lacinia at quis risus sed vulputate odio ut. Arcu felis bibendum ut tristique. Dolor morbi non arcu risus quis varius quam quisque. Enim eu turpis egestas pretium aenean. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Velit dignissim sodales ut eu sem integer vitae justo. Sociis natoque penatibus et magnis. #}</p>
      </div>
    </main>
    <div id="extraneous">
      <footer id="footer">
        <div class="constrained">
          <small>Except where otherwise stated, content copyright and licensed under a <a rel="license" href="https://web.archive.org/web/20190501132334/http://creativecommons.org/licenses/by/3.0/deed.en_GB">Creative Commons Attribution 3.0 Unported License</a>.</small>
        </div>
      </footer>
    </div>
  </div>
  <script>
    (function () {
      const content = document.getElementById('content');
      const header = document.getElementById('header');
      const title = document.getElementById('title');
      const baseClass = title.className;
      let firing = false;

      function updateTitle(scrollTop) {
        var contentTop = content.offsetTop;
        var headerHeight = header.offsetHeight;
        var active = (scrollTop > contentTop - headerHeight);
        title.className = baseClass + (active ? ' active' : '');
      }

      document.addEventListener('scroll', function() {
        var scrollTop = document.body.scrollTop || document.documentElement.scrollTop || window.pageYOffset || 0;

        if (!firing) {
          window.requestAnimationFrame(function() {
            updateTitle(scrollTop);
            firing = false;
          });

          firing = true;
        }
      });
    })();
    </script>
</body>
