---
layout: base
---
<body class="home">
  <div id="skip-links">
    <div class="constrained">
      <a href="#content">Jump to content</a>
    </div>
  </div>
  <header id="header">
    <div class="constrained">
      <div id="title" class="title" aria-hidden="true">{{ bio.name }}</div>
      {% include "navigation.njk" %}
    </div>
  </header>
  <div id="splash">
    <div class="constrained">
      <h1>{{ bio.name }}</h1>
    </div>
  </div>
  <div id="content">
    <main id="main">
      <div class="constrained">
        <p>I'm a software developer, with more than a few years under my belt. I'm currently spending my days as a lead accessibility engineer at <a href="https://twitter.com">Twitter</a>. In past lives, I've been gainfully employed at places like <a href="https://etsy.com">Etsy</a>, <a href="https://foundation.mozilla.org">the Mozilla Foundation</a>, and <a href="https://nature.com">the Nature Publishing Group</a>.</p>
        <p>Turns out some people appreciate working with me!</p>
        <blockquote>
          <p><q>…<strong>a bona-fide world expert</strong> at most of the things [he does] … <strong>among the best at doing them</strong> within top-tier technology companies.</q></p>
        </blockquote>
        <blockquote>
          <p><q>…has consistently <strong>performed above and beyond</strong> expectations in terms of delivery.</q></p>
        </blockquote>
        <blockquote>
          <p><q>…is <strong>the most talented front-end and middleware coder</strong> I’ve ever worked with.</q></p>
        </blockquote>
        <blockquote>
          <p><q>…is one of the most <strong>stunningly technically competent</strong> clientside engineers I’ve ever had the opportunity to work with.</q></p>
        </blockquote>
        <blockquote>
          <p><q>…is keen to take on challenges and is <strong>able to deliver high quality product</strong> under tight deadlines with limited resources.</q></p>
        </blockquote>
      </div>
    </main>
    <div id="extraneous">
      <footer id="footer">
        <div class="constrained">
          <small>Except where otherwise stated, content copyright and licensed under a <a rel="license" href="https://web.archive.org/web/20190501132334/http://creativecommons.org/licenses/by/3.0/deed.en_GB">Creative Commons Attribution 3.0 Unported License</a>.</small>
        </div>
      </footer>
    </div>
  </div>
  <script>
    (function () {
      const content = document.getElementById('content');
      const header = document.getElementById('header');
      const title = document.getElementById('title');
      const baseClass = title.className;
      let firing = false;

      function updateTitle(scrollTop) {
        var contentTop = content.offsetTop;
        var headerHeight = header.offsetHeight;
        var active = (scrollTop > contentTop - headerHeight);
        title.className = baseClass + (active ? ' active' : '');
      }

      document.addEventListener('scroll', function() {
        var scrollTop = document.body.scrollTop || document.documentElement.scrollTop || window.pageYOffset || 0;

        if (!firing) {
          window.requestAnimationFrame(function() {
            updateTitle(scrollTop);
            firing = false;
          });

          firing = true;
        }
      });
    })();
    </script>
</body>
