---
pagination:
  data: collections.all
  size: 1
  alias: preview
permalink: "/assets/images/og/{{ preview.data.urlSlug | default(preview.data.page.fileSlug) }}.svg"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="1200" height="628" viewBox="0 0 1200 628" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <clipPath id="circle" clipPathUnits="objectBoundingBox">
            <circle cx=".5" cy=".5" r=".5" />
        </clipPath>
        <filter id="tile" x="0" y="0" width="100%" height="100%">
            <feTile in="SourceGraphic" x="0" y="0" width="100%" height="100%" />
            <feTile />
        </filter>
        <radialGradient id="overlay" cx="0.33" cy="0.33">
            <stop offset="0%" stop-color="#FFFE" />
            <stop offset="50%" stop-color="#FFFE" />
            <stop offset="100%" stop-color="#FFFC" />
        </radialGradient>
    </defs>
    <style>
        text {
            font-family: 'IBM Plex Sans Condensed';
            font-weight: 400;
        }
        .title {
            font-size: 90px;
            filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
        }
        .lede {
            font-size: 40px;
        }
        .em {
            fill: #B94E36;
        }
        .strong {
            font-weight: 700;
        }
        .author {
            font-size: 25px;
        }
        .url {
            font-size: 15px;
        }
    </style>

    <g fill="none">
        <image x="0" y="0" width="1200" height="1200" href="{{ "./assets/images/wallpaper.jpg" | dataURI("image/jpeg") }}" filter="url(#tile)" />
        <rect x="0" y="0" width="100%" height="100%" fill="url(#overlay)" />
        <rect x="25" y="25" width="1150" height="578" stroke="#B94E36" stroke-width="10" />
    </g>

    <g>
        <text x="75" y="50" width="1050" class="title">
            {%- set title = preview.data.title | break(1050, 6) -%}
            {%- for line in title -%}
                <tspan x="75" dy="105">{{ line | markdown(true) | safe }}</tspan>
            {%- endfor -%}
        </text>
        {% if preview.data.lede -%}
            <text x="75" y="{{ 75 + title.length * 105 }}" width="1050" class="lede">
                {%- set lede = preview.data.lede | break(1050, 2.5) -%}
                {%- for line in lede -%}
                    <tspan x="75" dy="45">{{ line | markdown(true) | safe }}</tspan>
                {%- endfor -%}
            </text>
        {%- endif %}
    </g>

    <g>
        <image x="75" y="503" width="50" height="50" href="{{ "./assets/images/portrait.jpg" | dataURI("image/jpeg") }}" clip-path="url(#circle)" />
        <circle cx="100" cy="528" r="25" stroke="#000" fill="none" stroke-width="2" />
        <text x="150" y="523" class="author">
            {{- meta.author -}}
        </text>
        <text x="150" y="548" class="url">
            {{- meta.url }}{{ preview.page.url -}}
        </text>
    </g>
</svg>